<div class="main-container">
    <div class="title-bar">
        <div class="board-title">
            <button mat-button (click)="router.navigate(['/dashboard'])"> <img src="assets/images/back.png" alt=""> </button>{{boardService.currnetBoard.title}}
        </div>
        <div class="share-button-container">
            <button mat-raised-button (click)="shareDialog()">Share</button>
        </div>
    </div>
    <div class="list-container" *ngIf="listService.lists != []">
        <div class="list-card" *ngFor="let list of listService.lists">
            <div class="list-title">
                {{list.title}}
            </div>
            <div class="cards-container">
                <div class="card" (click)="viewCard(card_id)" *ngFor="let card_id of list.cards;index as i">
                    {{cardTitles[card_id]}}
                </div>
                <button class="card" mat-button (click)="openDialog(list._id)">Add card</button>
            </div>
        </div>
        <div class="list-card" *ngIf="newListFlag">
            <div class="list-title">
                Create List
            </div>
            <div class="cards-container">
                <div class="card">
                    <form [formGroup]="newListForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title" placeholder="Enter list title" autocomplete="off">
                            <mat-error>Title is required</mat-error>
                        </mat-form-field>
                    </form>
                    <button mat-button (click)="createList()" [disabled]="newListForm.invalid">Create</button>
                    <button mat-button (click)="newListFlag = false">Cancel</button>
                </div>
            </div>
        </div>
        <button *ngIf="!newListFlag" (click)="newListFlag = true" mat-button class="add-button"> <img src="assets/images/add.png" alt="add"> </button>
    </div>
</div>