.main-container{
    width:30vw;
    padding:20px;
    background-color: white;
}

.header{
    font-size: 25px;
    width:100%;
    text-align: center;
    padding:10px;
    transform: translateX(-5px);
}

.share-body-container{
    width:100%;
}
mat-form-field{
    width:100%;
}

.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.error-container{
    max-width:100%;
    color:rgb(221, 0, 0);
    text-align: center;
    margin-bottom:10px;
}